#mane{
    margin: 30px;
    background-color: brown;
    color: yellow;
    width: auto;
    height: 100px;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #493406ed;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    margin-top: 4rem;
    color: aliceblue;
}
.footer-link{
    color: aliceblue;
    text-decoration: none;
}
.footer-link:hover,.footer-link:focus, .footer-link:active{
    color:#493406;
}
.jumbotron {
    padding:30px 30px 30px 30px;
    margin:0px auto;
    background: #493406 ;
    background-image: url('/public/assets/images/pexels1.jpg');
    background-position: 50% 60%;
    background-size: 100%;
    color:#ffb300;
}
.reserver-text{
    font-size: small;
    font-weight: lighter;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.menu-item{
    text-decoration: none;
    color: #493406;
}
.naira{
    text-decoration: double line-through;
}

.navbar-dark {
    background-color: #493406;
}

.page-enter{
    opacity: 0.01;
    transform: trasnlateX(-100%);
}
.page-enter-active{
    opacity: 1;
    transform: trasnlateX(0%);
    transition: all 300ms ease-in;
}
.page-exit{
    opacity: 1;
    transform: trasnlateX(0%);
}
.page-exit-active{
    opacity: 0.01;
    transform: trasnlateX(100%);
    transition: all 300ms ease-out;
}